# Dependencies
node_modules/

# Compiled output
dist/
out-tsc/

# Debug logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Testing
coverage/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# Environment files
.env

# TypeScript
*.tsbuildinfo

# Miscellaneous
.DS_Store
Thumbs.db

# Local Docker override
docker-compose.override.yml
